<html>
  <%- include('app/views/template/head') -%>
  <body>
    <div id="page">
      <div id="header">
      <a href="/"><img style="border:none" src="/public/logo.png" width="192" height="85" alt="Retwis"></a>
      <%- include('app/views/template/navbar') -%>
      </div>

      <div id="postform">
        <% if (isMyTimeline) {%>
          <form method="POST" action="/post">
            <%= user.name %>, what you are doing?
            <br>
            <table>
            <tr><td><textarea cols="70" rows="3" name="status"></textarea></td></tr>
            <tr><td align="right"><input type="submit" name="doit" value="Update"></td></tr>
            </table>
          </form>
          <div id="homeinfobox">
            <%= followersCount %> followers<br>
            <%= followingCount %> following<br>
          </div>
        <% } %>
        <% if (user !== null) {%>
          <h2 class="username"><%= user.name %></h2>
          <% if (showFollow) {%>
            <% if (following) {%>
              <a href="/unfollow?uid=<%= user.id %>" class="button">Stop following</a>
            <% } else { %>
              <a href="/follow?uid=<%= user.id %>" class="button">Follow this user</a>
            <% } %>
          <% } %>
        <% } %>
      </div>
    
        <% page.posts.forEach(function (post) { %>
          <div class="post">
            <a class="username" href="profile?u=<%= post.user.name %>"><%= post.user.name %></a>
            <%= post.body %>
            <br>
            <i>posted <%= post.strElapsed(new Date()) %> ago via web</i>
          </div>
        <% }) %>
        <% if (page.posts.length === 0) { %>
          <div>no posts alive</div>
        <% } %>

        <% if (page.prev !== false || page.next !== false ){ %>
          <div class="rightlink">
            <% if (page.prev !== false) {%>
              <a href="<%= isMyTimeline ? '/' : '/profile' %>?start=<%= page.prev %><%= (!isMyTimeline) ? `&u=${user.name}` : '' %>">Newer posts &raquo;</a>
            <% } %>
            <% if (page.next !== false) {%>
              <a href="<%= isMyTimeline ? '/' : '/profile' %>?start=<%= page.next %><%= (!isMyTimeline) ? `&u=${user.name}` : '' %>">Older posts &raquo;</a>
            <% } %>
          </div>
        <% } %>
      </div>
      <%- include('app/views/template/footer') -%>
      </div>
</body>
</html>